:root {
    --main-radius: 5px;
    --main-padding: 5px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #222; /* Apenas para visualizar melhor */
}

.container {
    display: grid; /* 🔹 Usa apenas grid */
    grid-template-columns: 1fr 3fr 3fr 3fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "nav box box box sidebar"
        "nav box box box sidebar"
        "nav box box box sidebar"
        "nav box box box sidebar";
    grid-gap: 1rem;
    
    width: 100%; /* 🔹 Permite que o grid se ajuste */
    width: 1080px;
}

.nav {
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    grid-area: nav;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 10px;
    margin: 10rem 0rem 10rem 0rem;
    max-width: 60px;
    flex-direction: column;
}

i {
    margin: .5rem;
    font-size: 35px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    align-content: center;
    cursor: pointer;
    transition: .3s;
}

i:hover {
    background-color: #222;
}

.box {
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    grid-area: box;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    height: 720px;
    width: 1080;
}

.sidebar {
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    grid-area: sidebar;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    height: 720px;
    width: 100%;
    width: 200px;
}

.sobre {
    text-align: center;
    background-color: rgb(94, 94, 94);
    min-height: 300px;
    min-width: 300px;
    border-radius: 20px;
    margin: .5rem;
}

.Projetos {
    text-align: center;
    background-color: rgb(94, 94, 94);
    min-height: 300px;
    min-width: 300px;
    border-radius: 20px;
    margin: .5rem;
}